
/********Main*********/
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  padding: 10px;
}

.headder {
    border: 3px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
}

.Carosell {
    border: 3px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
}

.SmolMap {
    border: 3px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
}

.SmolMapInfo {
    border: 3px solid black;
    grid-column-start: 3;
    grid-column-end: 4;
}

.BeeImage {
    border: 3px solid black;
    grid-column-start: 1;
    grid-column-end: 2;
}

.VictorImage {
    border: 3px solid black;
    grid-column-start: 2;
    grid-column-end: 3;
}

.WillImage {
    border: 3px solid black;
    grid-column-start: 3;
    grid-column-end: 4;
}

.BeeInfo {
    border: 3px solid black;
    grid-column-start: 1;
    grid-column-end: 2;
}

.VictorInfo {
    border: 3px solid black;
    grid-column-start: 2;
    grid-column-end: 3;
}

.Willnfo {
    border: 3px solid black;
    grid-column-start: 3;
    grid-column-end: 4;
}


/********Main End*********/